#### FUNCI√ìN PARA LA SELECCI√ìN DE SCRUM MASTER

In [1]:
import random

def elegir_finalista():
    candidatas = ["Yeri", "Ana", "Samai"]
    return random.choice(candidatas)

if __name__ == "__main__":
    print("La finalista es:", elegir_finalista())

La finalista es: Samai

In [1]:
import pandas as pd

df = pd.read_csv("ABC_data.csv", index_col = 0)

df

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,...,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,51,No,NaN,2015.722222,NaN,6,3,NaN,1,1,...,20,NaN,15,15,"16280,83$",1972,"195370,00$",NaN,NaN,Yes
1,52,No,NaN,2063.388889,NaN,1,4,Life Sciences,1,2,...,33,NaN,11,9,NaN,1971,"199990,00$",NaN,NaN,1
2,42,No,travel_rarely,1984.253968,Research & Development,4,2,Technical Degree,1,3,...,22,NaN,11,15,NaN,1981,"192320,00$",ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,1771.404762,NaN,2,4,Medical,1,4,...,20,NaN,5,6,"14307,50$",1976,"171690,00$",NaN,NaN,False
4,46,No,NaN,1582.771346,NaN,3,3,Technical Degree,1,5,...,19,NaN,2,8,"12783,92$",1977,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,43,No,NaN,488.944444,NaN,-26,3,Medical,1,824,...,3,NaN,1,2,"3949,17$",1980,NaN,NaN,NaN,Yes
1674,47,No,NaN,1973.984127,NaN,26,4,NaN,1,1087,...,5,NaN,1,0,"15943,72$",1976,"191324,62$",NaN,NaN,False
1675,29,No,travel_rarely,290.035510,NaN,15,3,NaN,1,528,...,6,NaN,1,5,NaN,1994,"28111,13$",NaN,NaN,False
1676,47,No,travel_rarely,1032.487286,NaN,4,3,Life Sciences,1,76,...,22,NaN,14,10,"8339,32$",1976,"100071,84$",NaN,NaN,Yes
1677,32,No,NaN,556.256661,NaN,2,2,Life Sciences,1,401,...,8,NaN,0,7,NaN,1991,"53914,11$",NaN,NaN,0

#### AN√ÅLISIS EDA

In [2]:
import pandas as pd
import numpy as np
from IPython.display import display

In [3]:
# ver todas las columnas
pd.set_option('display.max_columns', None)

In [4]:
# ver todas las filas
pd.set_option('display.max_rows', None)

In [ ]:
df # saldr√≠a todo el dataframe con todas las filas y todas las columnas

In [6]:
def analisis_eda(df):
    print("AN√ÅLISIS EXPLORATORIO DE DATOS\n")

    # Primeras filas
    print("Primeras 10 filas del DataFrame:")
    display(df.head(10))

    # Dimensiones
    print("\nDimensiones (filas, columnas):")
    print(df.shape)

    # Informaci√≥n general
    print("\nInformaci√≥n general:")
    df.info()

    # Tipos de datos
    print("\nTipos de datos por columna:")
    print(df.dtypes)

    # Estad√≠sticas num√©ricas. Hay que tener en cuenta que estos valores no est√°n limpios. Es una primera aproximaci√≥n. Bien para comparar con el posterior an√°lisis despu√©s de tratar los datos
    print("\nEstad√≠sticas columnas num√©ricas:")
    num_cols = df.select_dtypes(include='number').columns
    if len(num_cols) > 0:
        # Usamos describe para calcular estad√≠sticas
        estadisticas = df[num_cols].describe().T  # .T para transponer y tener columnas como filas
        # Renombramos las columnas para mayor claridad
        estadisticas = estadisticas.rename(columns={
            'count': 'Conteo',
            'mean': 'Media',
            'std': 'Desviaci√≥n est√°ndar',
            'min': 'M√≠nimo',
            '25%': 'Percentil 25',
            '50%': 'Mediana',     #la mediana es el percentil 50
            '75%': 'Percentil 75',
            'max': 'M√°ximo'
        }).round(2)  # redondeamos a 2 decimales
        display(estadisticas)

    # Estad√≠sticas categ√≥ricas
    print("\nDescripci√≥n de columnas categ√≥ricas:")
    cat_cols = df.select_dtypes(include='object').columns
    if len(cat_cols) > 0:
        display(df[cat_cols].describe())

    # Valores nulos (contamos los valores nulos y tambi√©n mostramos porcentaje)
    print("\nValores nulos por columna (conteo y porcentaje):")
    nulls_count = df.isnull().sum()
    nulls_percent = (nulls_count / df.shape[0] * 100).round(2)  # nulos en porcentaje, redondeados a 2 decimales
    nulls_df = nulls_count.to_frame(name='Conteo')   # pasamos la serie a DataFrame y le llamamos 'Conteo'
    nulls_df['Porcentaje'] = nulls_percent          # a√±adimos una columna con los porcentajes
    display(nulls_df[nulls_df['Conteo'] > 0].sort_values(by='Porcentaje', ascending=False))
    if nulls_count.sum() == 0:
        print("No hay valores nulos en el DataFrame.")

    # Filas duplicadas
    print("\nFilas duplicadas:")
    dup_count = df.duplicated().sum()     # sumamos los duplicados
    print(f"Duplicadas: {dup_count}")
    if dup_count > 0:
        print("Duplicados (primeras 10 filas):")
        display(df[df.duplicated()].head(10))
    else:
        print("No hay filas duplicadas.")

    # Valores √∫nicos por columna
    print("\nValores √∫nicos por columna:")   # valores distintos en cada columna del DataFrame df
    unique_counts = df.nunique().sort_values(ascending=False)  # orden columnas de mayor a menor seg√∫n cantidad de valores √∫nicos
    display(unique_counts)

    # Distribuci√≥n de variables categ√≥ricas
    print("\nDistribuci√≥n de variables categ√≥ricas:")
    for col in cat_cols:
        print(f"\nColumna: {col}")
        display(df[col].value_counts().head())

In [ ]:
analisis_eda(df)

In [14]:
df_copy = df.copy()

Este es un primer EDA sin haber tratado los nulos, las columnas redundantes y los resultados inconsistentes, por lo que si bien es una primera aproximaci√≥n de los datos que tenemos, los resultados reales podr√≠an estar bastante alejados de estos resultados. Es necesario en cada momento contextualizar las condiciones en las que se han obtenido los datos.

A partir de aqu√≠, comenzar√≠a la limpieza, tratamiento y filtrado de datos.

### üóëÔ∏è Plan de eliminaci√≥n de columnas redundantes

üí∞ **monthlyincome, sameasmonthlyincome y salary**  
- üìä Todas parecen expresar ingresos mensuales o anuales en distintas unidades/formatos.  
- üîÅ `sameasmonthlyincome` expl√≠citamente es un duplicado de `monthlyincome`.  
‚úÖ Nos quedamos con **monthlyincome** y **salary**  
‚ùå Eliminamos **sameasmonthlyincome**

---

üè¢ **department, roledepartament y jobrole**  
- ‚ö†Ô∏è `roledepartament` mezcla el rol con el departamento (ejemplo: *Manager - Research & Development*), mientras que `department` y `jobrole` ya lo tienen separado.  
‚úÖ Nos quedamos con **department** y **jobrole**  
‚ùå Eliminamos **roledepartament**  
üí° *M√°s adelante podemos fusionar `department` y `jobrole` si es necesario.*

---

üë• **employeecount y employeenumber**  
- üîÇ `employeecount` es siempre 1 ‚Üí columna in√∫til.  
- üÜî `employeenumber` parece ser solo un identificador √∫nico ‚Üí no aporta al an√°lisis predictivo.  
‚ùå Eliminamos **employeecount**

---

üéÇ **age y datebirth**  
- üìê Son equivalentes: de `datebirth` se puede calcular la edad.  
‚ùå Eliminamos **age**

---

üë∂ **numberchildren**  
- üö´ Est√° completamente vac√≠o (0 valores v√°lidos).  
‚ùå Eliminamos **numberchildren**

In [15]:
def drop_redundant_columns(df_copy: pd.DataFrame) -> pd.DataFrame:
    """
    Elimina columnas redundantes de un DataFrame y devuelve una copia limpia.

    Columnas eliminadas:
    - sameasmonthlyincome
    - roledepartament
    - employeecount
    - age
    - numberchildren
    """
    cols_to_drop = [
        "sameasmonthlyincome",
        "roledepartament",
        "employeecount",
        "age",
        "numberchildren"
    ]

    # Eliminar columnas si existen
    df_clean = df_copy.drop(columns=[c for c in cols_to_drop if c in df_copy.columns])

    return df_clean

In [18]:
df_copy = drop_redundant_columns(df_copy)
df_copy.head(3)

,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,datebirth,salary,remotework
0,No,NaN,2015.722222,NaN,6,3,NaN,1,1,0,NaN,3,5,resEArch DIREcToR,3,NaN,"16280,83$","42330,17$",7,Y,No,13,"3,0",3,Full Time,0,NaN,5,"3,0",20,NaN,15,15,1972,"195370,00$",Yes
1,No,NaN,2063.388889,NaN,1,4,Life Sciences,2,3,0,NaN,2,5,ManAGeR,3,NaN,NaN,"43331,17$",0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,1971,"199990,00$",1
2,No,travel_rarely,1984.253968,Research & Development,4,2,Technical Degree,3,3,0,NaN,3,5,ManaGER,4,Married,NaN,"41669,33$",1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,1981,"192320,00$",1

### ‚ú® Plan de normalizaci√≥n y limpieza de columnas

üñ•Ô∏è **Columna `remotework`**  
- üîÑ Normalizar valores a `yes` / `no`.

---

üë´ **Columna `gender`**  
- üîÑ Normalizar valores a `M` / `F`.

---

üî§ **Columnas categ√≥ricas (texto)**  
- üìù Corregir fallos tipogr√°ficos (ejemplo: combinaci√≥n de may√∫sculas y min√∫sculas).  
- üî† Capitalizar la primera letra de cada valor.  
- ‚öôÔ∏è Implementar una funci√≥n que recorra todas las columnas categ√≥ricas para normalizar texto.

---

üî¢ **Columnas num√©ricas**  
- üîß Corregir fallos tipogr√°ficos:  
  - ‚û°Ô∏è Reemplazar `,` por `.` en valores num√©ricos.  
  - üéØ Redondear decimales a 2 d√≠gitos.  
- ‚öôÔ∏è Implementar una funci√≥n que recorra todas las columnas num√©ricas y normalice sus valores.

---

üìè **Columna `distancefromhome`**  
- üîÑ Convertir valores negativos a valor absoluto.

---

üîç **Detecci√≥n y correcci√≥n de valores mal escritos en categ√≥ricas**  
- üëÄ Identificar valores con `unique()` durante el EDA.  
- ‚úèÔ∏è Reemplazar cada error con la palabra correctamente escrita.  
  - Ejemplo: `marreid` ‚Üí `married`.

---

üè∑Ô∏è **Nombres de columnas**  
- ‚ú® Renombrar y normalizar: todas las columnas con formato `.title`.  
  - Ejemplo: `distancefromhome` ‚Üí `Distancefromhome`.


En esta parte:
- Quitamos espacios extra en columnas de texto.  
- Organizamos un poco mejor los nombres de roles y departamentos.  
- Creamos columnas nuevas para analizar la antig√ºedad (que agrupa a los empleados seg√∫n los a√±os en la empresa. Esto es √∫til porque no es lo mismo alguien que lleva 1 a√±o que alguien que lleva 20. ) y el teletrabajo (para indicar con un 1 si la persona trabaja en remoto y 0 si no.)

In [ ]:
# LIMPIEZA DE DATOS 

import pandas as pd

# 1. Cargo el dataset original
df = pd.read_csv("ABC_data.csv", index_col=0)

# 2. Hago una copia para trabajar sin tocar el original
df_copy = df.copy()

# 3. Limpio columnas de texto (jobrole y department)
#    - Quito espacios extra
#    - Pongo formato con may√∫scula inicial
df_copy["jobrole"] = df_copy["jobrole"].str.strip().str.title()
df_copy["department"] = df_copy["department"].str.strip().str.title()

# 4. Creo una nueva columna de antig√ºedad agrupada (TenureGroup)
#    Agrupo los a√±os en la empresa en intervalos (0-2, 3-5, 6-10, etc.)
bins = [0,2,5,10,20,40]                        # l√≠mites de los grupos
labels = ["0-2","3-5","6-10","11-20","20+"]    # nombres de los grupos
df_copy["TenureGroup"] = pd.cut(df_copy["yearsatcompany"], 
                                bins=bins, labels=labels, include_lowest=True)

# 5. Creo una nueva columna para teletrabajo (RemoteWork_flag)
#    Si la persona trabaja en remoto ‚Üí 1, si no ‚Üí 0
df_copy["RemoteWork_flag"] = df_copy["remotework"].astype(str).str.lower().isin(["yes","1","true"]).astype(int)

# 6. Muestro las primeras filas para comprobar la limpieza
df_copy.head()

In [ ]:

attrition_by_tenure = df_copy.groupby("TenureGroup")["attrition"].apply(lambda x: (x=="Yes").mean())
print(attrition_by_tenure)

In [ ]:
attrition_by_remote = df_copy.groupby("RemoteWork_flag")["attrition"].apply(lambda x: (x=="Yes").mean())
print(attrition_by_remote)

In [ ]:
pip install matplotlib

In [ ]:

# VISUALIZACIONES


import matplotlib.pyplot as plt   # üëà esto es lo que faltaba

# 1. Attrition por TenureGroup
attrition_by_tenure = df_copy.groupby("TenureGroup")["attrition"].apply(lambda x: (x=="Yes").mean())

attrition_by_tenure.plot(kind="bar", title="Attrition por antig√ºedad (TenureGroup)")
plt.ylabel("Tasa de attrition")
plt.show()

# 2. Attrition por RemoteWork_flag
attrition_by_remote = df_copy.groupby("RemoteWork_flag")["attrition"].apply(lambda x: (x=="Yes").mean())

attrition_by_remote.plot(kind="bar", title="Attrition por teletrabajo (0 = No, 1 = S√≠)")
plt.ylabel("Tasa de attrition")
plt.show()


- La **antig√ºedad en la empresa** influye bastante en el abandono:  
  los empleados m√°s nuevos (0-2 a√±os) tienen m√°s probabilidad de irse, mientras que quienes llevan m√°s a√±os tienden a quedarse.  

- El **teletrabajo** tambi√©n marca una diferencia:  
  hay variaciones claras en la tasa de abandono entre quienes trabajan remoto y quienes no.  

Esto es solo un primer an√°lisis, pero ya da pistas de factores importantes para estudiar m√°s a fondo.

YERI